.status {
  width: 100%;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(6px);
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;

  &__title {
    text-align: center;
    color: #fff;
  }

  .road-map {

    &__progress {
      .progress-header {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        color: #fff;
        p{
          margin: 0 10px;
        }
      }

      .progress-bar {
        position: relative;
        width: 100%;
        height: 6px;
        border-radius: 4px;
        background: rgb(151, 175, 213);
        color: #fff;
        text-align: center;
        margin-top: 50px;

        &__percent {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          background: #f42f54;
          z-index: 5;
          height: 100%;
          border: none;
          border-radius: 10px;

          &:after {
            position: absolute;
            content: '';
            top: 50%;
            right: 0;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            border: 2px solid #fff;
            background: #f42f54;
            transform: translate(50%, -50%);
          }
        }

        &__point {
          display: block;
          position: absolute;
          top: 30px;
          font-size: 11px;
          line-height: 14px;
          font-weight: 500;
          padding: 3px 0;
          width: 10%;
          height: auto;
          margin-top: 20px;

          &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 50px;
            background-color: rgb(151, 175, 213);
            border-radius: 10px;
            top: -70px;
          }

          .title {
            color: #f42f54;
            font-weight: 700;
          }

          .description {
           // display: none;
            font-size: 1em;
            padding: 5px 10px;
          }
        }
      }
    }
  }
}



